td {
    padding: 10px;
    text-align: center;
    /* border-right: 1px solid rgba(0, 0, 0, 0.2); */
    color: grey;
}
td:first-of-type {
    text-transform: capitalize;
    text-align: start;
    padding-left: calc(100%/8);
}  

tr:nth-child(odd){
	background: #fff;
}
tr:nth-child(even){
	background: #F7F7F7;
}

td:not(:last-of-type) {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}